p, ul, li {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    list-style:none;
}

body {
    height: 100vh;
    min-width: 1074px;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}


.left-items {

}

.right-items {
    margin-left: auto;
}

.h-30 {
    height: 30px;
}



.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}

.m-60 {
    margin: 60px;
}


.ml-10 {
    margin-left: 10px; 
 }
 
.ml-20 {
    margin-left: 20px; 
 }

.ml-30 {
   margin-left: 30px; 
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.p-60 {
    padding: 60px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.sz-20 {
    font-size: 20px;
}

.inline {
    display: inline;
}

.peter-river {
    color : #3498db;
}

.line {
    height: 2px;
    background-color: #3498db;   
}